
.App {
  text-align: center;
  background-color: rgb(24, 24, 24);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.box {
  justify-content: flex-start;
  display: flex;
  color:aliceblue;
  width: 50vw;
  height: 97vh;
  background-color: rgb(38, 38, 38);
  margin: 10px;
  padding: 10px;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
